#tipSubmit
  padding: 1em
  flex: 1
  width: 100%


  margin-top: 2em
  align-self: flex-start

  background: gold

#serviceSelect
  display: flex

  a
    padding: 1em
    text-decoration: none
    color: grey
    flex: 1
    margin: 0.2em
    margin-bottom: 2em
    align-self: flex-start

    background: gold
    border: 2px solid gold
    &.active
      border: 2px solid white
      font-weight: bold
