// Import all partials
@require './_*.styl'

@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';


body
  // background: rgb(131, 179, 214)
  // background-image: url('/images/bubble.jpg')
  // background-repeat: no-repeat
  // background-position: top left
  // background-size: auto
  background: #336699
  margin: 0 auto
  max-width: 400px
  color: white


main
  margin: 0 auto
  padding: 0 1rem
  text-align: center

.internal
    text-align: left

@keyframes fadein {
  from { opacity: 0; scale: 0.5; }
  to   { opacity: 1; scale:1; }
}

#about, #contact
  background: white
  color: #333
  padding: 1rem
  blockquote
    font-size: 0.9em
    display block
    margin-top: 1em
    color: gray
  h2
    font-size: 2.5rem
    span
      display: inline
      color: darkgray
  span
    font-style: italic
    font-weight: bold
    display: block
    font-size: 0.8em

  p
    font-size: 1em
    span
      font-weight: normal
      font-size: 1.2em
      font-style: normal
      display: inline

header.mainHeader

  h1
    font-size 5rem
    img
      width: 30%
    span
      margin-left: 0.1em
      color: white
    a
      text-decoration: none

  h3
    margin 0
    font-size 2rem
    position relative
    display inline-block

iframe
  width: 100%
  height: 25em


header.mainHeader
  padding-top: 2em
  margin-bottom: 3em
  position: relative

  .nav-hamburger
    width: 1.4em
    position absolute
    top: 2rem
    right: 0
    cursor: pointer
    .hamb
      display: block
      width: 1.4em
      margin-bottom: 0.3em
      border-bottom: 3px solid #fff

  nav
    animation: fadein 1.5s
    display: none
    &.visible
      display: block
    ul
      display: flex
      flex-direction: column
      margin: 0 0 5rem 0
      padding: 0
      li
        list-style: none
        flex: 1

        flex-direction: column
        padding: 0
        font-size: 1.2em
        border-bottom: 1px solid #fff
      a
        text-decoration: none
        color: white
        width: 100%

        display: block
        padding: 1em

.flex-container
  display: flex
  flex-direction: column

#tipResult
  li
    width: 90%
    margin: 0 auto
    text-align: left
    line-height: 1.3em

#pastTipsResult
  section
    background: white
    color: #333
    line-height: 0em
    padding: 1rem
    margin-bottom: 1rem
    h3
      font-size: 2.2rem
      line-height: 1.6rem
    li
      line-height: 2.5rem
    time
      font-size: 1.8rem

.pnf__header
  margin-bottom: 2em

  &.pnf__header-big
    font-size: 1.8em
